.App {
  font-family: "Courier New", monospace;
  padding-bottom: 10px;
}

h1 {
  font-weight: normal;
  font-size: 42px;
  text-align: center;
}

p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th {
  text-align: left;
}